<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
	<a href="{{ path('iry_appli_home') }}">Back</a>
    <h1>Welcome !</h1>	
    <table>
		<tr>
			<td><!--Nom hélico-->
				{{helicopter.name}}
			</td>
			<td><!--Liste des thèmes-->
		        <ul>
			        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
		        		<li id="theme{{theme.id}}">{{theme.name}}</li>
			        {% endfor %}
		        </ul>
			</td>
			<td><!--Liste des cours-->
		        <ul>
			        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
				        {% for course in theme.courses %} <!-- boucle parmi la liste des thèmes -->
			        		<li>{{course.name}}</li>
				        {% endfor %}
			        {% endfor %}
		        </ul>				
			</td>
		</tr>
    </table>
</body>
</html>