{% extends 'IRYAppliBundle:Application:base.html.twig' %}
{% block header_title %}
	{{helicopter.name}}
{% endblock %}
{% block header_back_btn %}
	<a href="{{ path('iry_appli_home') }}" id="back_btn">
		<img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
	</a>
{% endblock %}
{% block body %}
    <div id="content">
      <a id="startButton" class="introjs" href="javascript:void(0);">Guide de présentation</a>
{# 	  <div class="modal" id="modal-one" aria-hidden="true">
		<div class="modal-dialog">
			<video src="{{ asset('bundles/iryappli') }}/img/video.mp4" controls muted></video>
			<a href="#close" class="close">x</a>
		</div>
	  </div> #}
      <div class="liste_categories_wrap">
        <div id="categories">
          <section class="category theme_section">
            <h2 data-step="1" data-intro="Cette interface est similaire au CAI que vous utilisez actuellement.<br>Choisssez un thème (Hydraulic system par exemple) puis un sous-thème. Pour chaque sous-thème, vous pouvez lancer un cours qui peut être de 4 types différents..." data-position='right'>Choose your Theme</h2>
            <div class="list">
              <ul>
		        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
	        		<li class="theme" data-theme="{{theme.id}}" id="theme{{theme.id}}"><span>{{theme.name}}</span></li>
		        {% endfor %}
              </ul>
            </div>
          </section>
          <section class="category subtheme_section">
            <h2 data-step="3" data-intro="Pas évident de focus ce qui est display none" data-position='right'>Choose your Subtheme</h2>
            <div class="list">
              <ul>
				{% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
			        {% for subtheme in theme.subthemes %} <!-- boucle parmi la liste des thèmes -->
		        		<li class="subtheme" data-theme="{{theme.id}}" data-subtheme="{{subtheme.id}}" id="subtheme{{subtheme.id}}"><span>{{subtheme.name}}</span></li>
			        {% endfor %}
		        {% endfor %}
              </ul>
            </div>
          </section>
          <section class="category course_section">
            <h2>Choose your Course</h2>
            <div class="list">
              <ul>
		        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
			        {% for subtheme in theme.subthemes %} <!-- boucle parmi la liste des thèmes -->
				        {% for course in subtheme.courses %} <!-- boucle parmi la liste des thèmes -->
					        {% if (course.typeCourse.id == 1) %} {# cm #}
								{% set url = path('iry_appli_cm', {'course_id': course.id}) %}
					        {% elseif (course.typeCourse.id == 2) %} {# cd #}
								{% set url = path('iry_appli_cd', {'course_id': course.id}) %}
<<<<<<< HEAD
					        {% elseif (course.typeCourse.id == 3) %}
								{% set url = "#modal-one" %}
					        {% elseif (course.typeCourse.id == 4) %}
								{% set url = path('iry_appli_step', {'course_id': course.id}) %}	    
=======
					        {% elseif (course.typeCourse.id == 3) %} {# vi #}
								{% set url = path('iry_appli_vi', {'course_id': course.id}) %}
					        {% elseif (course.typeCourse.id == 4) %} {# ep #}
								{% set url = path('iry_appli_ep', {'course_id': course.id}) %}	    
>>>>>>> 6c8b75a022e3554d1dd8be979c0ac79da134db69
				       		{% endif %}
				        		<a href="{{ url }}">
				        			<li data-subtheme="{{subtheme.id}}" theme="{{theme.id}}" class="course course{{course.typeCourse.id}}" id="course{{course.id}}"><span>{{course.name}}</span></li>
				        		</a>
				        {% endfor %}
			        {% endfor %}
		        {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </div>
      <div id="legend">
        <div class="types_course" data-step="2" data-intro="Chaque îcone, placé à côté du nom des cours, représente un type de cours différent." data-position='top'>
          <div class="type_course cm">
              <span>Theorical Course</span>
          </div>
          <div class="type_course cd">
              <span>Demonstrative Course</span>
          </div>
          <div class="type_course vi">
              <span>Immersive Movie</span>
          </div>
          <div class="type_course ep">
              <span>Practical Training</span>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

