{% extends 'IRYAppliBundle:Application:base.html.twig' %}
{% block header_title %}
	{{helicopter.name}}
{% endblock %}
{% block header_back_btn %}
	<a href="{{ path('iry_appli_home') }}" id="back_btn">
		<img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
	</a>
{% endblock %}
{% block body %}
    <div id="content">
      <div class="liste_categories_wrap">
        <div id="categories">
          <section class="category theme_section">
            <h2>Choose your System</h2>
            <div class="list">
              <ul>
		        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->

	        		<li class="theme {{ (theme.subthemes|length == 0) ? "inactive" : "" }} {{ serie.hasAllCoursesOfTheme(theme) == true ? "saw" : "" }}" data-theme="{{theme.id}}" id="theme{{theme.id}}"><span>{{theme.name}}</span></li>
		        {% endfor %}
              </ul>
            </div>
          </section>
          <section class="category subtheme_section">
            <h2>Choose your Sub-system</h2>
            <div class="list">
              <ul>
			      {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
			        {% for subtheme in theme.subthemes %} <!-- boucle parmi la liste des thèmes -->
		        		<li class="subtheme {{ (subtheme.courses|length == 0) ? "inactive" : "" }} {{ serie.hasAllCoursesOfSubTheme(subtheme) == true ? "saw" : "" }}" data-theme="{{theme.id}}" data-subtheme="{{subtheme.id}}" id="subtheme{{subtheme.id}}"><span>{{subtheme.name}}</span></li>
			        {% endfor %}
		        {% endfor %}
              </ul>
            </div>
          </section>
          <section class="category course_section">
            <h2>Choose your Chapter</h2>
            <div class="list">
              <ul>
	              {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
		              {% for subtheme in theme.subthemes %} <!-- boucle parmi la liste des thèmes -->
                    {% for course in subtheme.courses %} <!-- boucle parmi la liste des thèmes -->
                      {% if (course.typeCourse.id == 1) %} {# cm #}
                        {% set url = path('iry_appli_cm', {'course_id': course.id}) %}
                      {% elseif (course.typeCourse.id == 2) %} {# cd #}
                        {% set url = path('iry_appli_cd', {'course_id': course.id}) %}
                      {% elseif (course.typeCourse.id == 3) %} {# vi #}
                        {% set url = path('iry_appli_vi', {'course_id': course.id}) %}
                      {% elseif (course.typeCourse.id == 4) %} {# ep #}
                        {% set url = path('iry_appli_ep', {'course_id': course.id}) %}      
                      {% endif %}
                      <a href="{{ url }}">
                        <li data-subtheme="{{subtheme.id}}" theme="{{theme.id}}" class="course course{{course.typeCourse.id}} {{ serie.hasCourse(course) == true ? "saw" : "" }}" id="course{{course.id}}"><span>{{course.name}}</span></li>
                        {# {{ serie.hasCourse(course) == true ? "saw" : "" }} #}
                      </a>
                    {% endfor %}
		              {% endfor %}
	              {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </div>
      <div id="legend">
        <div class="types_course">
          <div class="type_course cm">
              <span>Theoretical Course</span>
          </div>
          <div class="type_course cd">
              <span>Demonstrative Course</span>
          </div>
          <div class="type_course vi">
              <span>Immersive Movie</span>
          </div>
          <div class="type_course ep">
              <span>Practical Training</span>
          </div>
        </div>
      </div>
    </div>

{% endblock %}