<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
	<a href="{{ path('iry_appli_home') }}">Back</a>
    <h1>Welcome !</h1>	
    <table>
    	<tr>
    		<td>Helicopters</td>
    		<td>Themes</td>
    		<td>Subthemes</td>
    		<td>Courses</td>
    	</tr>
		<tr>
			<td><!--Nom hélico-->
				{{helicopter.name}}
			</td>
			<td><!--Liste des thèmes-->
		        <ul>
			        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
		        		<li id="theme{{theme.id}}">{{theme.name}}</li>
			        {% endfor %}
		        </ul>
			</td>
			<td><!--Liste des subthemes-->
		        <ul>
			        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
				        {% for subtheme in theme.subthemes %} <!-- boucle parmi la liste des thèmes -->
			        		<li>{{subtheme.name}}</li>
				        {% endfor %}
			        {% endfor %}
		        </ul>				
			</td>
			<td><!--Liste des cours-->
		        <ul>
			        {% for theme in helicopter.themes %} <!-- boucle parmi la liste des thèmes -->
				        {% for subtheme in theme.subthemes %} <!-- boucle parmi la liste des thèmes -->
					        {% for course in subtheme.courses %} <!-- boucle parmi la liste des thèmes -->
					        <a href="{{ path('iry_appli_step', {'step_id': course.id}) }}"><span><li>{{course.name}}</li></span></a>

					        {% endfor %}
				        {% endfor %}
			        {% endfor %}
		        </ul>				
			</td>
		</tr>
    </table>
</body>
</html>