{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <a id="startButton" class="introjs" style="top:-50px;left:300px;" href="javascript:void(0);">Guide de présentation</a>
        <section id="cd" class="cf">
            <div class="cd_video" data-step="1" data-intro="Ce type de cours permettra à l'instructeur de montrer différents boutons d'une procédure aux apprennants qui seront plongés dans cet environnement virtuel." data-position='right'>

            {{ include('IRYAppliBundle:ImmersiveApplication:blockUnityPlayer.html.twig', {'pathUnityFile' : asset('bundles/iryappli') ~ "/unity/WebPlayer.unity3d"}) }}
            
            </div>
            <div class="cd_wrap">
                <h3>Procedure steps</h3>
                <div class="list">
                    <ul data-step="2" data-intro="Au clic sur chacune des étapes de cette procédure, le bouton concerné par cette étape sera mis en valeur graphiquement dans l'environnement de l'apprennant. Il s'agit pour l'instant d'un carré blanc." data-position='bottom'>
                        {% for step in course.steps %}
                            <li class="cd_step" data-btn-name="{{ step.btnName }}" data-btn-state="{{ step.btnState }}">
                                <div class="step element">
                                    <span class="title">{{ step.name }}</span>
                                </div>
                                <div class="percent element">
                                    <span class="var percent-value" data-percent="{{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }}"></span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}