{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section class="cf">
            <div class="cm_images">
                {% for image in images %}
                    <div class="image">
                        <h2>{{image.name}}</h2>
                        <img src="{{ asset('bundles/iryappli') }}/img/cm/{{image.img}}" alt="{{image.name}}">
                        <h4>{{image.order}}</h4>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}