{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="cd" class="cf">
            <div class="cd_video">
                <video src="{{ asset('bundles/iryappli') }}/img/video.mp4" controls muted></video>
            </div>
            <div class="cd_wrap">
                <h3>Procedure steps</h3>
                <div class="list">
                    <ul>
                        {% for step in course.steps %}
                            <li class="cd_step">
                                <div class="step element">
                                    <span class="title">{{ step.name }}</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }}"></span>
                                </div>
                            </li>
                            {# TODELETE #}
                            <li class="cd_step">
                                <div class="step element">
                                    <span class="title">{{ step.name }}</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }}"></span>
                                </div>
                            </li>
                            <li class="cd_step">
                                <div class="step element">
                                    <span class="title">{{ step.name }}</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }}"></span>
                                </div>
                            </li>
                            {# TODELETE #}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}