{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
<a href="{{ path('iry_appli_home') }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="dc">
            <div class="dc_wrap cf" data-step="1">
                <div class="list">
                    <ul>
                        <div class="titles">
                            <span>Success</span>
                            <span>Errors</span>
                            <span>Favorites</span>
                        </div>
                        {% for step in course.steps %}
                            {% set nbErrors = 0 %}
                            {% set nbSuccess = 0 %}
                            {% set nbFav = 0 %}
                            {% for result in results %}
                                {% if result.step.id == step.id %}
                                    {% if result.isFavorite %}
                                        {% set nbFav = nbFav + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% for result in results_errors %}
                                {% if result.step.id == step.id %}
                                    {% set nbErrors = nbErrors + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% for result in results_success %}
                                {% if result.step.id == step.id %}
                                    {% set nbSuccess = nbSuccess + 1 %}
                                {% endif %}
                            {% endfor %}
                            <a href="">
                                <li class="step cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>{{step.name}}</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>{{nbSuccess}}</span>
                                        </div>
                                        <div class="errors element">
                                            <span>{{nbErrors}}</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0">{{nbFav}}</span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a> 
                        {% endfor %}
                    </ul>
                </div> 
            </div> 
        </section>
    </div>
{% endblock %}