{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{pilot.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="ep-pilote" class="cf">
            <div class="cd_video">

            {{ include('IRYAppliBundle:ImmersiveApplication:blockUnityPlayer.html.twig', {'pathUnityFile' : asset('bundles/iryappli') ~ "/unity/WebPlayer.unity3d"}) }}
            
            </div>
            <div class="ep_list_wrap">
            	<div class="head">
	                <h3>
	                    Procedure
	                </h3>
                    <div class="errors element">
                        <span>{{ results_errors|length }}</span>
                    </div>
                    <div class="success element">
                        <span>
                        	{% set totalSuccess = 0 %}
                        	{% for result in results_success %}
                            	{% if result.step.id == lastStep.id %}
                            		{% set totalSuccess = totalSuccess + 1 %}
                                {% endif %}
                        	{% endfor %}
                        	{{totalSuccess}}
                        </span>
                    </div>
	            </div>
                <div class="list">
                    <ul>
                        <li class="li_head">
                            <div class="list_title element">
                                <span>Errors</span>
                            </div>
                            <div class="list_title element">
                                <span>Success</span>
                            </div>
                        </li>
                        {% for step in steps %}
							{% set nbErrors = 0 %}
							{% set nbSuccess = 0 %}
                        	{% for result in results_errors %}
                            	{% if result.step.id == step.id %}
                            		{% set nbErrors = nbErrors + 1 %}
                                {% endif %}
                        	{% endfor %}
                        	{% for result in results_success %}
                            	{% if result.step.id == step.id %}
                            		{% set nbSuccess = nbSuccess + 1 %}
                                {% endif %}
                        	{% endfor %}
                            <li class="step" data-step-id="{{ step.id }}">
                                <div class="favorite {{ step.lastResultFromPilot(pilot).isFavorite == true ? "is_favorite" : "" }}">                              
                                </div>
                                <div class="step_name element">
                                    <span>{{step.name}}</span>
                                </div>
                                <div class="errors element">
                                    <span>{{ nbErrors }}</span>
                                </div>
                                <div class="success element">
                                    <span>{{ nbSuccess }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </section>
    </div>
	<script type="text/javascript">
		var editResultUrl = "{{path("put_result", { 
			"result"  : 0,
			"_format" : "json"
		})}}";
	</script>
{% endblock %}
