{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{pilot.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="ep-pilote" class="cf">
            <div class="cd_video">

            {# {{ include('IRYAppliBundle:ImmersiveApplication:blockUnityPlayer.html.twig', {'pathUnityFile' : asset('bundles/iryappli') ~ "/unity/WebPlayer.unity3d"}) }} #}
            
            </div>
            <div class="ep_list_wrap">
            	<div class="head">
	                <h3>
	                    {{course.name}}
	                </h3>
                    <div class="errors element">
                        <span>{{ pilot.nbErrors }}</span>
                    </div>
                    <div class="success element">
                        <span>{{ pilot.nbSuccess }}</span>
                    </div>
	            </div>
                <div class="list">
                    <ul>
                        <li class="li_head">
                            <div class="list_title element">
                                <span>Errors</span>
                            </div>
                            <div class="list_title element">
                                <span>Success</span>
                            </div>
                        </li>
                        {% for step in course.steps %}
                            <li class="step" data-step-id="{{ step.id }}">
                                <div class="favorite">                              
                                </div>
                                <div class="step_name element">
                                    <span>{{step.name}}</span>
                                </div>
                                <div class="errors element">
                                    <span>{{ pilot.nbErrors }}</span>
                                </div>
                                <div class="success element">
                                    <span>{{ pilot.nbSuccess }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </section>
    </div>
{% endblock %}