{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="ep">
            <div class="ep_wrap">
                <div class="list">
                    <ul>
            			{% for pilot in pilots %}
                            <li class="pilot">
                                <div class="pilot_name element">
                                    <span>{{pilot.name}}</span>
                                </div>
                                <div class="step element">
                                    <span class="bar"></span>
                                    <span class="title">GENE ON</span>
                                </div>
                                <div class="success element">
                                    <span>1</span>
                                </div>
                                <div class="errors element">
                                    <span>7</span>
                                </div>
                                <div class="call element">
                                    <span></span>
                                </div>
                            </li>
                        {% endfor %}
                        <a href="{{ path('iry_appli_dc') }}">
                            <li class="gotodebriefing">
                                <div class="element">
                                    <span>Go to Debriefing</span>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="ep_list_wrap">
                <h3>
                    {{course.name}}
                    {# <div class="plus"></div> #}
                </h3>
                <div class="list">
                    <ul>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title"></span>
                                </div>
                                <div class="list_title element">
                                    <span>Failures</span>
                                </div>
                            </li>
                        {# {% for step in course.steps %} #}
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="{# {{ step.results|length > 0 ? step.nbErrors * 100 / step.results|length : "" }} #}"></span>
                                </div>
                            </li>
                        {# {% endfor %} #}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}