{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="ep">
            <div class="ep_wrap">
                <div class="list">
                    <ul>
            			{% for pilot in pilots %}
                            <li>
                                <div class="pilot_name element">
                                    <span>{{pilot.name}}</span>
                                </div>
                                <div class="step element">
                                    <span class="bar"></span>
                                    <span class="title">GENE ON</span>
                                </div>
                                 <div class="success element">
                                    <span>1</span>
                                </div>
                                <div class="errors element">
                                    <span>7</span>
                                </div>
                                <div class="call element">
                                    <span></span>
                                </div>
                                <div class="GLobal error">
                                    <span></span>
                                </div>
                            </li>
                        
                            {% for etape in course.steps %}
                                {{etape.name}}
                                {% set nbEssai = 0 %}
                                {% set nbErrors = 0 %}
                                {% set nbErrorsLocal = 0 %}
                                    {% for resultat in etape.results %} 
                                        {% set nbEssai = nbEssai + 1 %}
                                        {% if (resultat.isError == 1) %}
                                            {% if (resultat.isGlobal == 1) %}
                                                {% set nbErrors = nbErrors + 1 %}
                                            {% else %}
                                                {% set nbErrorsLocal = nbErrorsLocal + 1 %}
                                            {% endif %}
                                        {% endif %}                                         
                                    {% endfor %}
                                <li> <span> Global Failures </span> {{nbErrors*100/nbEssai}}%</li>
                                <li> <span> Local Failures </span> {{nbErrorsLocal*100/nbEssai}}%</li>
                            {% endfor %}
                        {% endfor %}
                        
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
