{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <section id="ep">
            <div class="ep_wrap cf">
                <div class="list">
                    <ul class="pilot_list">
            			{% for pilot in pilots %}
                            <a href="{{ path("iry_appli_ep_pilot", {course_id: course.id, pilot_id: pilot.id}) }}">
                                
                                <li class="pilot" data-pilot-id="{{ pilot.id }}">
                                    <div class="pilot_name element">
                                        <span>{{pilot.name}}</span>
                                    </div>
                                    
                                    {% set currentStep = pilot.currentStep %}
                                    <div class="step element percent">
                                        <span class="bar percent-value" data-percent="{{ (currentStep is null) ? 0 : currentStep.percentInCourse}}"></span>
                                        <span class="title">
                                            {% if not currentStep is null %}
                                                {{ pilot.currentStep.name }}
                                            {% else %}
                                                Pilot has not started
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="success element">
                                        <span>{{ pilot.nbSuccess }}</span>
                                    </div>
                                    <div class="errors element">
                                        <span>{{ pilot.nbErrors }}</span>
                                    </div>
                                    <div class="call element">
                                        <span {% if (pilot.isCalling == true) %}class="active"{% endif %} data-call-time="{{pilot.javascriptTimestampDateCalling}}"></span>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                </div>
                <a href="{{ path('iry_appli_dc', {course_id: course.id}) }}" class="gotodebriefing"  data-step="8" data-intro="Lorsque l'exercice pratique est terminé, l'instructeur propose aux apprennats de débriefer autour de cet exercice (page en cours de developpement).">
                
                    Go to Debriefing
                </a>
            </div>
            <div class="ep_list_wrap">
                <div class="plus"></div>
                <h3>
                    {{course.name}}
                </h3>
                <div class="list">
                    <ul>
                        <li class="ep_step">
                            <div class="step element">
                                <span class="title"></span>
                            </div>
                            <div class="list_title element">
                                <span>Failures</span>
                            </div>
                        </li>
                        {% for step in course.steps %}
                            <li class="ep_step" data-step-id="{{ step.id }}">
                                <div class="step element">
                                    <span class="title">{{ step.name }}</span>
                                </div>
                                <div class="percent element">
                                    <span class="var percent-value" data-percent="{{step.getPercentNbLocalErrors}}"></span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <script id="template-ep-pilot" type="x-tmpl-mustache">
        <a href="{{'{{pilotCenteredPath}}'}}">
            <li class="pilot" data-pilot-id="{{ '{{pilotId}}' }}">
                <div class="pilot_name element">
                    <span>{{ '{{pilotName}}' }}</span>
                </div>
                <div class="step element">
                    <span class="bar percent-value" data-percent="{{ '{{percentProgression}}' }}"></span>
                    <span class="title">{{ '{{stepName}}' }}</span>
                </div>
                <div class="success element">
                    <span>{{ '{{pilotSuccess}}' }}</span>
                </div>
                <div class="errors element">
                    <span>{{ '{{pilotErrors}}' }}</span>
                </div>
                <div class="call element">
                    <span {{ '{{callIsActive}}' }} data-call-time="{{ '{{callTime}}' }}"></span>
                </div>
            </li>
        </a>
    </script>
    <script>
        var checkPilotsUrl = "{{ path('get_pilots', { "_format" : "json" }) }}";
        var viewPilotUrl = "{{ path("iry_appli_ep_pilot", {course_id: course.id, pilot_id: "pilotId"}) }}";
    </script>
{% endblock %}