{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <a id="startButton" class="introjs" href="javascript:void(0);">Guide de présentation</a>
        <section id="ep">
            <div class="ep_wrap" data-step="1" data-intro="Pendant l'exercice pratique de chaque apprenant, l'instructeur pourra suivre l'avancement de chaque pilote via cette interface.">
                <div class="list">
                    <ul class="pilot_list">
            			{% for pilot in pilots %}
                            <a href="{{ path("iry_appli_ep_centre_pilote", {course_id: course.id, pilot_id: pilot.id}) }}">
                                
                                <li class="pilot" data-pilot-id="{{ pilot.id }}">
                                    <div class="pilot_name element" data-step="2" data-intro="Pour chaque pilote, différentes informations sont transmises à l'instructeur en direct, comme le nom...">
                                        <span>{{pilot.name}}</span>
                                    </div>
                                    <div class="step element" data-step="3" data-intro="...le nom de l'étape où il en est, avec le pourcentage d'avancement dans l'ensemble de la procédure...">
                                        <span class="bar"></span>
                                        <span class="title">GENE ON</span>
                                    </div>
                                    <div class="success element" data-step="4" data-intro="...le nombre de procédures réussies...">
                                        <span>1</span>
                                    </div>
                                    <div class="errors element" data-step="5" data-intro=" ainsi que le nombre de procédures échouées.">
                                        <span>7</span>
                                    </div>
                                    <div class="call element" data-step="6" data-intro="Enfin, cet icone signifie que cet apprennat a besoin d'aide et souhaiterait que l'instructeur rentre en communication avec lui. Afin de faciliter le travail de l'instructeur, l'apprenant qui a appelé le premier sera automatiquement remonté dans la liste et sera aidé le premier.">
                                        <span></span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        <a href="{{ path('iry_appli_dc') }}">
                            <li class="gotodebriefing" data-step="8" data-intro="Lorsque l'exercice pratique est terminé, l'instructeur propose aux apprennats de débriefer autour de cet exercice (page pas encore développée).">
                                <div class="element">
                                    <span>Go to Debriefing</span>
                                </div>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="ep_list_wrap">
                <div class="plus" data-step="7" data-intro="Une fenêtre dépliable permet également à l'instructeur de savoir lors de quelle étape de la procédure les echecs des apprennats ont été commis" data-position='left'></div>
                <h3>
                    {{course.name}}
                </h3>
                <div class="list">
                    <ul>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title"></span>
                                </div>
<<<<<<< HEAD
                                 <div class="success element">
                                    <span>1</span>
=======
                                <div class="list_title element">
                                    <span>Failures</span>
>>>>>>> 6c8b75a022e3554d1dd8be979c0ac79da134db69
                                </div>
                            </li>
                        {# {% for step in course.steps %} #}
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                                <div class="GLobal error">
                                    <span></span>
                                </div>
                            </li>
<<<<<<< HEAD
                        
                            {% for etape in course.steps %}
                                {{etape.name}}
                                {% set nbEssai = 0 %}
                                {% set nbErrors = 0 %}
                                {% set nbErrorsLocal = 0 %}
                                    {% for resultat in etape.results %} 
                                        {% set nbEssai = nbEssai + 1 %}
                                        {% if (resultat.isError == 1) %}
                                            {% if (resultat.isGlobal == 1) %}
                                                {% set nbErrors = nbErrors + 1 %}
                                            {% else %}
                                                {% set nbErrorsLocal = nbErrorsLocal + 1 %}
                                            {% endif %}
                                        {% endif %}                                         
                                    {% endfor %}
                                <li> <span> Global Failures </span> {{nbErrors*100/nbEssai}}%</li>
                                <li> <span> Local Failures </span> {{nbErrorsLocal*100/nbEssai}}%</li>
                            {% endfor %}
                        {% endfor %}
                        
=======
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="10"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="25"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="10"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="15"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="35"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="15"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="0.5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="10"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="0.5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="0.5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="15"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="5"></span>
                                </div>
                            </li>
                            <li class="ep_step">
                                <div class="step element">
                                    <span class="title">{# {{ step.name }} #}Nom étape</span>
                                </div>
                                <div class="percent element">
                                    <span class="var" data-percent="0.5"></span>
                                </div>
                            </li>
                        {# {% endfor %} #}
>>>>>>> 6c8b75a022e3554d1dd8be979c0ac79da134db69
                    </ul>
                </div>
            </div>
        </section>
    </div>
<<<<<<< HEAD
{% endblock %}
=======
  

    <script id="template-ep-pilot" type="x-tmpl-mustache">
        <a href="{{'{{pilotCenteredPath}}'}}">
            <li class="pilot" data-pilot-id="{{ '{{pilotId}}' }}">
                <div class="pilot_name element">
                    <span>{{ '{{pilotName}}' }}</span>
                </div>
                <div class="step element">
                    <span class="bar"></span>
                    <span class="title"></span>
                </div>
                <div class="success element">
                    <span></span>
                </div>
                <div class="errors element">
                    <span></span>
                </div>
                <div class="call element">
                    <span></span>
                </div>
            </li>
        </a>
    </script>


    <script>
        var checkPilotsUrl = "{{ path('get_pilots', { "_format" : "json" }) }}";
        var viewPilotUrl = "{{ path("iry_appli_ep_centre_pilote", {course_id: course.id, pilot_id: "pilotId"}) }}";
    </script>


{% endblock %}
>>>>>>> 6c8b75a022e3554d1dd8be979c0ac79da134db69
