{% extends 'IRYAppliBundle:Application:base.html.twig' %}
{% block header %}
    
    <header class="cf">
      <div id="header_left" class="left">
        <div id="back_btn">
          
        </div>
        <div id="logo">
          <img src="{{ asset('bundles/iryappli') }}/img/logo.png" alt="Logo IRY">
        </div>
      </div>
      <div id="header_right" class="right">
        <div id="searchbar" class="cf">
          <img src="{{ asset('bundles/iryappli') }}/img/search.png" class="search_submit left" alt="Searchbar">
          <input type="text" class="search_content" placeholder="Search">
        </div>
      </div>
      <div id="header_center" class="center">
        <div class="helicopter_type">
          Civil Range
        </div>
        <div class="helicopter_type">
          Military Range
        </div>
      </div>
    </header>

{% endblock %}

{% block body %}
    <section id="choose_helicopter">
      <h2>Choose your Helicopter</h2>
      <div class="liste_helicopter_wrap">
        <div class="liste_helicopter">

        {% for index, helicopter in helicopters %}
            {% if index is divisible by(2) %}
          <div class="duo">
            {% endif %}

            <a href="{{ path('iry_appli_choixcours', {helicopter_id : helicopter.id}) }}" class="helicopter">
              <div class="helicopter_img">
                <img src="{{ asset('bundles/iryappli') }}/img/200x130.gif" alt="">
              </div>
              <div class="helicopter_name">
                <span>{{ helicopter.name }}</span>
              </div>
            </a>

            {% if not index is divisible by (2) or index == helicopters|length%}
          </div>
            {% endif %}
        {% endfor %}

        </div>
      </div>
    </section>


{% endblock %}