{% extends 'IRYAppliBundle:Application:base.html.twig' %}
{% block header %}
    <header id="header" class="cf">
      <div id="header_left" class="left">
        <div id="logo">
          <img src="{{ asset('bundles/iryappli') }}/img/logo.png" alt="Logo IRY">
        </div>
      </div>
      <div id="header_right" class="right">
        <div id="searchbar" class="cf">
          <img src="{{ asset('bundles/iryappli') }}/img/search.png" class="search_submit left" alt="Searchbar">
          <input type="text" class="search_content" placeholder="Search">
        </div>
      </div>
      <div id="header_center" class="center">
        <div class="filters">
          <h1 class="helicopter_type" data-type="{{ constant("IRY\\AppliBundle\\Entity\\Helicopter::TYPE_CIVIL") }}">
            Civil Range
          </h1>
          <h1 class="helicopter_type" data-type="{{ constant("IRY\\AppliBundle\\Entity\\Helicopter::TYPE_MILITARY") }}">
            Military Range
          </h1>
        </div>
      </div>
    </header>
{% endblock %}
{% block body %}
  <div id="content">
    <section id="choose_helicopter">
      <h2>Choose your Helicopter</h2>
      <div class="liste_helicopter_wrap">
        <div class="liste_helicopter">

        {% for index, helicopter in helicopters %}
            {% if index is divisible by(2) %}
          <div class="duo">
            {% endif %}

            <a data-type="{{ helicopter.type }}" data-name="{{ helicopter.name }}" href="{{ path('iry_appli_choixcours', {helicopter_id : helicopter.id}) }}" class="helicopter_link">
              <div class="helicopter_block {{helicopter.themes|length == 0 ? "inactive" : ""}}">
                <div class="helicopter_img">
                  <img src="{{ asset('bundles/iryappli') }}/img/helicopters/{{helicopter.imgHelico}}" alt="">
                </div>
                <div class="helicopter_name">
                  <span>{{ helicopter.name }}</span>
                </div>
              </div>
            </a>

            {% if not index is divisible by (2) or index == helicopters|length%}
          </div>
            {% endif %}
        {% endfor %}

        </div>
      </div>
    </section>
  </div>


{% endblock %}