{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_choixcours', {helicopter_id: course.subTheme.theme.helicopter.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
        <a id="startButton" class="introjs" style="top:-50px;left:300px;" href="javascript:void(0);">Guide de présentation</a>
        <section id ="vi" class="cf">
            <div class="video_wrap">
                <video src="{{ asset('bundles/iryappli') }}/img/video.mp4" controls autoplay muted></video>
            </div>
        </section>
        <section class="schema_image">
            <div class="schema_image_plus"></div>
            <div class="schema_image_wrap">
                <ul class="images">
                    {% for image in images %}
                        <li>
                            <span>{{image.name}}</span>
                            <img src="vi/{{image.webPath}}" alt="{{image.name}}">
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}